spir.fantastiskefroe.dk {
	reverse_proxy spir-app:80
}

ingest.spir.fantastiskefroe.dk {
	reverse_proxy spir-ingest:8080
}

qr.spir.fantastiskefroe.dk {
	reverse_proxy spir-qr:8043
}

overview.spir.fantastiskefroe.dk {
	reverse_proxy spir-overview:80
}

products.spir.fantastiskefroe.dk {
	reverse_proxy spir-products:80
}


havejournal.dk {
	respond "Siden er under opbygning..."
}

www.staldhiphop.dk, staldhiphop.dk {
	reverse_proxy staldhiphop:80
}

