spir.fantastiskefroe.dk {
	respond "You've reached spir.fantastiskefroe.dk"
}

portainer.spir.fantastiskefroe.dk {
    reverse_proxy portainer:9000
}

ingest.spir.fantastiskefroe.dk {
    reverse_proxy spir-ingest:8080
}

